@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import './variable.scss';
@import "~bootstrap";

@import './admin/header.scss';
@import './admin/sidebar.scss';
@import './admin/content.scss';
@import './admin/footer.scss';
@import './admin/override.scss';
@import './admin/index.scss';
@import './bootstrap';
@import './admin/feature-area.scss';

@media (max-width: 576px){
    .d-mobile-none {
        display: none !important;
    }
}

@media (min-width: 720px){
    .d-desktop-none {
        display: none !important;
    }
}

//filter content
@media (max-width: 576px) {
    .filter-content{
        margin-left: -900px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear, opacity 0.5s;
    }

    .filter-content.filter-toggled {
        margin-left: 0;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear, opacity 0.5s;
    }
}

.btn-primary,
.btn-secondary,
.btn-outline-primary:hover{
    color: #fff !important;
}

.table tr:hover{
    box-shadow: none !important;
}

.table th{
    padding: 12px 15px !important;
}

.header-profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* toast */
.toast-container{
    transition: all 0.3s ease-in-out;
}

.toast-top-right {
    top: 65px !important;
    right: 25px !important;
}

.toast-success{
    background-color: #198754 !important;
}

.toast-message{
    text-transform: capitalize;
}

.toast-close-button{
    top: 0 !important;
}

#toast-container > div:hover{
    box-shadow: $box-shadow !important;
}
