$body-bg: #fafafa;

//$primary: #0c2aa0;
//$primary-light:#5653d2;
//$primary-dark: #000670;

$primary: #e73918;
$primary-light: rgb(#e73918,.6);
$primary-dark: #d72323;

//$secondary: #D33730;
//$secondary-light:#ff6b5a;
//$secondary-dark: #9a0008;

$secondary: #dddddd;
$secondary-light:#eeeeee;
$secondary-dark: #bbbbbb;

$sidebar: #e9f8ff;
$side-bg: #f1f1f5;
$sidebar-dark :#eeeef3;

$color: #212529;

$side-bg-dark: #e6e6e9;

$container-max-widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px) !default;


@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSansMyanmar-Regular.ttf');
}

$font: 'NotoSans';
