@keyframes fa-beat {
	0% {
		transform: scale(1);
	}
	25% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.2);
	}
	70% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}
.fa-beat {
	animation: fa-beat 5s ease infinite;
}
@media (min-width: 768px) {
	.footer {
		margin-left: 230px;
	}
	.sidebar-mini.sidenav-toggled {
		.footer {
			margin-left: 50px;
		}
	}
}
