//table
.table-responsive {
    -webkit-overflow-scrolling : auto !important;
}
.table {
    thead {
        border-bottom: 2px solid rgba($primary, .7);
        border-top: 2px solid rgba($primary, .7);
        color: $primary;
        font-size: .95rem;
    }
    tbody,
    tfoot,
    tr,
    td,
    th {
        border-bottom: 1px solid grey !important;
    }
    tr:nth-child(2n) {
        background-color: $side-bg;
    }
}

.border-0.table-borderless {
    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
        border-bottom: 0 !important;
        background-color: transparent !important;
        padding: .2rem 0;
    }
}