//table
.table-responsive {
    -webkit-overflow-scrolling: auto !important;
}

.table {
    font-size: .9rem;
    thead {
        color: $primary;
        font-size: .85rem;
        text-transform: uppercase;
        background-color: $side-bg;
    }

    tbody,
    tfoot,
    tr,
    td,
    th {
        border-bottom: 1px solid $sidebar-dark !important;
    }

    tr:hover {
       box-shadow: 0 0 5px 1px #d9d9db;
    }
}

.border-0.table-borderless {

    thead,
    tbody,
    tfoot,
    tr,
    td,
    th {
        border-bottom: 0 !important;
        background-color: transparent !important;
        padding: .2rem 0;
    }
}

//width
@include media-breakpoint-down(sm) {
    .w-sm-100 {
        width: 100%;
    }
}

//background
.bg-sidebar {
    background-color: $side-bg;
}
